{% extends 'teacher/teacher.html' %}
{% block content %}
    {% if res == None %}
        <div class="menu3">
            <h1>查询课程基本信息</h1>
            <form method="post" action="/teacher/course/query">
                {% with messages = get_flashed_messages() %}
                    <label style="color: red;width: auto">{{ messages[0] }}</label><br>
                {% endwith %}
                <input type="submit" style="margin-left: 300px; margin-top: 30px" value="查询">
            </form>
        </div>
    {% else %}
        <div class="menu3">
            <h1>查询课程基本信息</h1>
            <table class="altrowstable" id="alternatecolor" style="margin-left: 30px; width: 750px; font-size: 13px">
                <tr>
                    <th style="width:120px;">
                        {{ head[0] }}
                    </th>
                    <th style="width:70px;">
                        {{ head[1] }}
                    </th>
                    <th style="width:90px;">
                        {{ head[2] }}
                    </th>
                    <th style="width:100px;">
                        {{ head[3] }}
                    </th>
                    <th style="width:98px;">
                        {{ head[4] }}
                    </th>
                    <th style="width:98px;">
                        {{ head[5] }}
                    </th>
                    <th style="width:60px;">
                        {{ head[6] }}
                    </th>
                    <th style="width:90px;">
                        {{ head[7] }}
                    </th>
                    <th style="width:90px;">
                        {{ head[8] }}
                    </th>
                </tr>
                {% for i in res %}
                    <tr>
                        {% for j in i %}
                            <td>{{ j }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table><br>
            <form method="get" action="/teacher/course/query">
                <input type="submit" value="返回" style="margin-left: 300px">
            </form>
        </div>
    {% endif %}
{% endblock %}
